Source: openmediavault-mysql
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: network

Package: openmediavault-mysql
Architecture: all
Depends: dbconfig-common,
         openmediavault (>= 3.0.15),
         mysql-server | mariadb-server,
         mywebsql,
         ${misc:Depends}
Description: MySQL plugin for OpenMediaVault.
 MySQL is an open source database server. The plugin allows you to
 specify a share for databases and reset the MySQL root password.
